.header {
  height: 30vh;
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
}

.header .cards {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header .cards div:hover {
  filter: brightness(0.9);
}

.header .cards div {
  width: 300px;
  max-height: 200px;
  padding-left: 10px;
  background-color: #a09be9;
  box-sizing: border-box;
  color: aliceblue;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 10px 16px -11px rgba(0, 0, 0, 0.75);
}

.header .cards div img {
  width: 100px;
}

.header .calendar {
  background-color: #242730;
  height: 300px;
  color: #000;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 16px -11px rgba(0, 0, 0, 0.75);
}

.header .calendar div + div {
  background-color: #a09be9;
}

.notes {
  max-width: 625px;
  background-color: #242730;
  margin-left: 2rem;
  color: #fff;
  border-radius: 4px;
  padding-left: 6px;
}
