.create_word {
  text-align: center;

  @media (max-width: 480px) {
    max-width: 100%;
    padding: 0 1rem;
  }
}

.create_word form {
  @media (max-width: 480px) {
    max-width: 300px;
  }
}

.create_word h2 {
  font-size: 2.2em;
}

.create_word p {
  color: #aaa;
  margin-bottom: 2em;
}
